body {
	width: 960px;
	margin: 0 auto;
	background: url("../../images/backgrounds/restaurant_icons.png") repeat 0 0;
}

h3{
	font-family: Comic Sans MS;
}

#header {

}

#headingbox {
	height: 475px; 
	background-image: url("../../images/logos/headerLogo.png");
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 10%;
	opacity: .7;
}

#title {	
	width: 400px;
	height: 200px;
	text-indent: -9999px; /* pushes text off screen */
	float: left;
	margin: 20px;
}

#slogan {
	float: left;
	width: 400px;
	margin: 20px;
	
	font-size: 250%;
	text-align: center;
	vertical-align: middle;
	font-style: oblique;
	padding-bottom: auto;
	padding-top: auto;
}

#nav {
	clear: both;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.mainnav {
	list-style-type: none;
	text-align: center;
	padding: 0px;

}

.mainnav li {
	display: inline-block;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#content {
	overflow: auto;
	height: 100%;	
}

/* CSS FOR INDIVIDUAL RECIPIE PREVIEWS */
.recipe {
	float: left;
	/* ALLOWS THREE COLUMNS FOR THE 960PX FIXED WIDTH */
	width: 300px;
	max-width: 300px;
	margin: 10px;

	background-color: rgba(204, 204, 204, 0.3);
	border-top: 1px solid black;
	height: 500px;
	max-height: 500px;
	
}

.dishName {
	text-align: center;
	height: 50px;
	max-height: 50px;
}

.dishDesc{
	padding: 3px;
	margin: 5px;
	height: 75px;
	max-height: 75px;
}

.dishPrev {
	display: block;
	margin: auto;
	height: 200px;
	max-height: 250px;
	max-width: 200px;
}

.actionBox {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	max-height: 100px;
}

.actions {
	list-style-type: none;

}
