body {
	width: 960px;
	margin: 0 auto;
	background: url("../../images/backgrounds/restaurant_icons.png") repeat 0 0;
}

#header {
	/*background: url("../../images/backgrounds/headerBackground.png") repeat;
	background-size: cover;*/
}

#headingbox {
	height: auto;
}

#title {
	background-image: url("../../images/logos/recipesLogo.png");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10%;
	opacity: .7;
	
	width: 400px;
	height: 200px;
	text-indent: -9999px; /* pushes text off screen */
	float: left;
	
	margin: 20px;
}

#slogan {
	float: left;
	width: 400px;
	margin: 20px;
	
	font-size: 250%;
	text-align: center;
	vertical-align: middle;
	font-style: oblique;
	padding-bottom: auto;
	padding-top: auto;
}

#nav {
	padding: 10px;
	margin: 10px;
	clear: both;
}

#content {
	overflow: auto;
	height: 100%;	
}

/* CSS FOR INDIVIDUAL RECIPIE PREVIEWS */
.recipe {
	float: left;
	/* ALLOWS THREE COLUMNS FOR THE 960PX FIXED WIDTH */
	width: 300px;
	max-width: 300px;
	margin: 10px;

	background-color: rgba(204, 204, 204, 0.3);
	border-top: 1px solid black;
	height: 500px;
	max-height: 500px;
}

.dishName {
	text-align: center;
	height: 50px;
	max-height: 50px;
}

.dishDesc{
	padding: 3px;
	margin: 5px;
	height: 75px;
	max-height: 75px;
}

.dishPrev {
	display: block;
	margin: auto;
	height: 200px;
	max-height: 250px;
	max-width: 200px;
}

.actions {
	height: 100px;
	max-height: 100px;
}
