body {
	width: 960px;
	margin: 0 auto;
}

#nav {
	background-color: #efefef;
	padding: 10px;
	margin: 10px;
}

#content {
	overflow: auto;
	height: 100%;	
	
}

/* CSS FOR INDIVIDUAL RECIPIE PREVIEWS */
.recipe {
	float: left;
	/* ALLOWS THREE COLUMNS FOR THE 960PX FIXED WIDTH */
	width: 300px;
	max-width: 300px;
	margin: 10px;

	background-color: #efefef;
	border-top: 1px solid black;
	height: 500px;
}

.dishName {
	text-align: center;
	height: 50px;
}

.dishDesc{
	padding: 3px;
	margin: 5px;
	height: 75px;
}

.dishPrev {
	display: block;
	margin: auto;
	height: 200px;
	max-height: 250px;
	max-width: 200px;
}

.actions {
	height: 100px;
}
